<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hayvan_Takip_Otomasyonu.Properties.Settings.HTObaglanti"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Dosyalar\HTO.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hayvan_Takip_Otomasyonu.Properties.Settings.tdbConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=tdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hayvan_Takip_Otomasyonu.Properties.Settings.raporlamametin"
            connectionString="Data Source=.;Initial Catalog=tdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>